.postsSection{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfe3eebe;
}

.innerPostsSection{
    width: 55vh;
    height: 50vh;
    background-color: white;
    border: 1px solid rgb(190, 189, 189);
    border-radius: 18px;
}

.UserHeader {
    
}