.postsSection{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfe3eebe;
}

.innerPostsSection{
    width: 55vh;
    height: 50vh;
    background-color: white;
    border: 1px solid rgb(190, 189, 189);
    border-radius: 18px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.UserHeader {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
    justify-content: space-between;
}

.innerUserHeader {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
    justify-content: space-between;
}

.UserIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 2px;
    padding-right: 2px;
    background: #296986f6;
    color: white;
    font-weight: bolder;
    border-radius: 100%;
}

.Title{
    margin-top: 8px;
    font-size: x-large;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: ;
}

.Description {
    margin-top: 8px;
}