.postsSection{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 207, 207);
}

.innerPostsSection{
    width: 24vh;
    height: 50vh;
    background-color: white;
    border: 1px gray;
}